@using Containers;
@using SharedClassLibrary;
@using Client;
@using Microsoft.AspNetCore.Components.QuickGrid

@page "/activegame"

<PageTitle>Active Game</PageTitle>

<h1>Welcome Don</h1>

Welcome to your game. 

@if (_activeGame.HumanPlayers.Count > 0)
{
    <br />
    @_activeGame.Name
    <br />

    <QuickGrid Items="@_activeGame.HumanPlayers.AsQueryable()">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.RaceString)" Title="Race" Sortable="true" />
        <PropertyColumn Property="@(p => p.MasteryString)" Title="Mastery"  Sortable="true" />
        <PropertyColumn Property="@(p => p.StatusString)" Title="Status"  Sortable="true" />
    </QuickGrid>
    <br />
  



} else {
    <p>No game loaded create a new or load an existing game</p>
}


@code {
    private ActiveGameContainer _activeGame = ActiveGameContainer.GetGameInstance;
    private GameMaster gameMaster = ActiveGameMasterContainer.GetGameMasterInstance;

}
