@page "/createnewgame"
@using Models;
@using SharedClassLibrary;
@using Containers;

<PageTitle>Create New Game</PageTitle>

<h1>Welcome Don!</h1>

@Containers.ActiveGameContainer.GetGameInstance.Name;

@if (playersInGame.Count == 0)
{
    <p><em>Add At least one player befopre creating game</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Mastery</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in playersInGame)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.RaceString</td>
                    <td>@player.MasteryString</td>
                    <td>@player.StatusString</td>
                </tr>
            }
        </tbody>
    </table>
}

<input placeholder="Add a player name" @bind="playerName" />
<button @onclick="AddPlayer">Add PLayer</button>
<button @onclick="CreateGame" >Create Game</button>



@code{
    Game newGame = new();
    private string? playerName;
    private List<Player> playersInGame = new List<Player>() {};
    private bool readyToCreate = false;

    ActiveGameContainer activeGame = ActiveGameContainer.GetGameInstance;

    private void AddPlayer() 
    {
        if (playerName != null) {
            Player newPlayer = new Player(playerName);
            // Should be made possisble to choose
            newPlayer.RaceString = "Human";
            newPlayer.MasteryString = "Bard";
            newPlayer.StatusString = "Alive";
            playersInGame.Add(newPlayer);

        } else {
            WarnOfSomethingWrong("Player must have a name");
        }
    }

    private void CreateGame()
    {
        Game newGame = new();
        newGame.HumanPlayers = playersInGame;
        
        activeGame.UpdateToNewGame(newGame);
    }

    private void WarnOfSomethingWrong(string message) 
    {
        
    }

}