@using DonBlazor.Client;
@using DonBlazor.Containers;
@using Microsoft.AspNetCore.Components.QuickGrid
@using SharedClassLibrary
@using System.Collections.ObjectModel;
@inject ActiveContainer ActiveContainer;
@inject StateContainer StateContainer;

<h3>CurrentStats</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th> Team </th>
        <th> Health </th>
        <th> Move </th>
        <th> Resources </th>
        <th> Position </th>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td> @current.Team </td>
            <td> @current.HealthCurrent / @current.HealthMax </td>
            <td> @current.MpCur / @current.MpMax </td>
            <td> @current.ResourceCurrent / @current.ResourceMax </td>
            <td> @current.Position.ToString();</td>
        </tr>

    </tbody>

</table>


@code {
    Character current; 

    protected override void OnInitialized()
    {
        UpdateCurrent();
        // ActiveContainer.
        ActiveContainer.CharactersChanged += StateHasChanged;
        StateContainer.EncounterStatusChanged += UpdateCurrent;
        ActiveContainer.CurrentCharacterChanged += StateHasChanged;
    }

    private void UpdateCurrent()
    {
        current = ActiveContainer.Game.CharacterToAct;
    }



    
}