@using SharedClassLibrary.Actions
@using DonBlazor.Containers
@using SharedClassLibrary;
@inject ActiveContainer ActiveContainer;
<h3>DonActions: Possible @ActiveContainer.GameMaster.PossibleActions.Count</h3>
<p>In sight: @ActiveContainer.Game.CharacterToAct.OthersInSight.Count </p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th> Reciever </th>
        <th> ChanceToSuceed </th>
        <th> Type </th>
    </tr>
    </thead>
    <tbody >
    @foreach (var anAction in ActiveContainer.GameMaster.PossibleActions)
    {
        <tr @key=anAction>
            <td> @CharacterFromSignature(anAction.RecieverSignature); </td> 
            <td> @anAction.ChanceToSucced </td> 
            <td> @ResolveType(anAction);  </td> 
        </tr>
    }

    </tbody>

</table>


@code {
    protected override void OnInitialized()
    {
        ActiveContainer.CurrentCharacterChanged += StateHasChanged;
    }

    string CharacterFromSignature(string locatorSignature)
    {
        return ActiveContainer.Game.AllCharacters.Single(character => character.Signature == locatorSignature).Name;
    }

    private string ResolveType(IAnAction theAction)
    {
        return theAction switch
        {
            OffensiveAction => "Attack",
            HealAlly => "Heal",
            InspireAlly => "Inspire",
            _ => "unknown"
            };
    }

}
